name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches:
      - main  # Trigger deployment on push to main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'  

      - run: flutter pub get

      - run: |
          flutter build web --release \
            --base-href "/regina_portfolio/" \
            --dart-define=EMAILJS_SERVICE=${{ secrets.EMAILJS_SERVICE }} \
            --dart-define=EMAILJS_TEMPLATE=${{ secrets.EMAILJS_TEMPLATE }} \
            --dart-define=EMAILJS_USER=${{ secrets.EMAILJS_USER }}

      - run: touch build/web/.nojekyll

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
